<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsip.adminrsimoblie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_admin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_admin_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.DetailAmbulanceKeluarActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNQ33bOtPutevn8EUgmvjyXkDyoSVHmzk" />

        <activity android:name=".View.TambahMobilKeluarActivity" />
        <activity
            android:name=".RecyclerView.DataAmbulanceKeluarActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".View.TambahMobilActivity" />
        <activity
            android:name=".RecyclerView.DataMobilAmbulanceActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.BalasKeluhanActivity" />
        <activity android:name=".View.RincianKeluhanActivity" />
        <activity
            android:name=".RecyclerView.ListKeluhanActivity"
            android:label="Keluhan"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.DaftarKeluhanActivity" />
        <activity android:name=".View.EditDokterActivity" />
        <activity android:name=".View.DetailDokterActivity" />
        <activity android:name=".View.TambahDokterActivity" />
        <activity
            android:name=".View.InfoDokterActivity"
            android:label="Info Dokter"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.MenuInfoDokterActivity" />
        <activity android:name=".View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>